:root {
    --marvel-red: #ed1d24;
    --active-marvel-red: #c51f24;
    --black: #000000;
    --black-transp: rgba(0, 0, 0, 0.652);
    --deep-grey: #504a4a;
    --active-deep-grey: #444040;
    --light-blue: #518cca;
    --active-light-blue: #4577ac;
    --orange: #f78f3f;
    --active-orange: #e28239;
    --white: #ffff;
    --active-white: #ead9cc;
    --silver: #cdcdcd;

    --wrapper-width: 4rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin: 0rem var(--wrapper-width);
}

header {
    margin: auto;
    color: white;
    font-family: system-ui;
    background: radial-gradient(
        circle,
        rgba(237, 29, 36, 1) 80%,
        rgba(255, 255, 255, 1) 100%
    );
    margin-bottom: 1em;
}
header > div {
    display: flex;
    padding: 0.5em 4em;
}
header > div > img {
    max-width: 6em;
    margin-right: 0.75em;
}

#overview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    text-align: center;
}

#overview > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 2rem;
    flex-grow: 2;
    justify-content: space-evenly;
    align-items: center;
}

.portrait {
    max-width: 20%;
    border-radius: 2%;
}

#widgets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: calc(50% - 1rem - var(--wrapper-width));
    padding: 1rem;
    margin: 1rem;
    border-left: var(--active-white) solid 1px;
    border-right: var(--active-white) solid 1px;
}

.widget:last-of-type {
    margin-bottom: 0px;
}

.chart {
    margin: 0.5rem 1.5rem;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#personal-pop > img {
    width: 50%;
}

#credit-type,
#revenue {
    flex: calc(100% - 1rem - var(--wrapper-width));
}

footer {
    background-color: var(--silver);
    padding: 2rem var(--wrapper-width);
}

#tmdb-attribution h5 {
    margin-top: 0px;
    margin-bottom: 0.5em;
}
#tmdb-attribution img {
    max-width: 100px;
}

@media (max-width: 1024px) {
    :root {
        --wrapper-width: 2rem;
    }
}

@media (max-width: 768px) {
    :root {
        --wrapper-width: 1rem;
    }
}

@media (max-width: 576px) {
    :root {
        --wrapper-width: 0rem;
    }
}
