:root {
    --marvel-red: #ed1d24;
    --active-marvel-red: #c51f24;
    --black: #000000;
    --black-transp: rgba(0, 0, 0, 0.652);
    --deep-grey: #504a4a;
    --active-deep-grey: #444040;
    --light-blue: #518cca;
    --active-light-blue: #4577ac;
    --orange: #f78f3f;
    --active-orange: #e28239;
    --white: #ffff;
    --active-white: #ead9cc;

    --wrapper-width: 4rem;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0rem var(--wrapper-width);
}

#widgets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: calc(50% - 1rem - var(--wrapper-width));
    padding: 1rem;
    margin: 1rem;
    border-left: var(--active-white) solid 1px;
    border-right: var(--active-white) solid 1px;
}

.chart {
    margin: 0.5rem 1.5rem;
}

.charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#personal-pop > img {
    width: 50%;
}

#credit-type {
    flex: calc(100% - 1rem - var(--wrapper-width));
}

@media (max-width: 1024px) {
    :root {
        --wrapper-width: 2rem;
    }
}

@media (max-width: 768px) {
    :root {
        --wrapper-width: 1rem;
    }
}

@media (max-width: 576px) {
    :root {
        --wrapper-width: 0rem;
    }
}
